*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
}

:root {
  --blue: #4f8cfb;
  --green: #1a2343;
  --white: #fff;
  --black: #000;
  --text-blue: #01579B;
}

html, body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth; 
}

.container{
  max-width: 1480px;
  padding: 0 10px;
  margin: auto;
}

button{
  border: none;
  background: none;
  cursor: pointer;
}